## Imports and settings

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer

In [2]:
pd.set_option('display.max_columns', None)

## Importing Data

In [3]:
df = pd.read_csv('../Data/AIDA_Results_IA_Institut.csv')

## Data exploration

In [4]:
df.head()

,Start,Diver,Gender,Discipline,Line,Official Top,AP,RP,Card,Points,Remarks,Title Event,Event Type,Day,Category Event
0,1,Tasos Grillakis (GRC),M,FIM,NaN,00:00,33,23 m,YELLOW,12.0,-,Depth Event 2016,Depth Competition,2016-07-17,other
1,2,Antonis Papantonatos (GRC),M,FIM,NaN,00:00,55,47 m,YELLOW,38.0,-,Depth Event 2016,Depth Competition,2016-07-17,other
2,3,Dimitris Koumoulos (GRC),M,CNF,NaN,00:00,55,55 m,WHITE,55.0,-,Depth Event 2016,Depth Competition,2016-07-17,other
3,4,Christos Papadopoulos (GRC),M,CWT,NaN,00:00,55,55 m,WHITE,55.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other
4,5,Anna Chalari (GRC),F,CWT,NaN,00:00,15,15 m,WHITE,15.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26841 entries, 0 to 26840
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Start           26841 non-null  int64
 1   Diver           26841 non-null  object
 2   Gender          26841 non-null  object
 3   Discipline      26841 non-null  object
 4   Line            4694 non-null   float64
 5   Official Top    26841 non-null  object
 6   AP              26841 non-null  int64
 7   RP              26841 non-null  object
 8   Card            26841 non-null  object
 9   Points          26841 non-null  object
 10  Remarks         26836 non-null  object
 11  Title Event     26841 non-null  object
 12  Event Type      26841 non-null  object
 13  Day             26841 non-null  object
 14  Category Event  26841 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 3.1+ MB

In [6]:
df.isna().sum()

Start                 0
Diver                 0
Gender                0
Discipline            0
Line              22147
Official Top          0
AP                    0
RP                    0
Card                  0
Points                0
Remarks               5
Title Event           0
Event Type            0
Day                   0
Category Event        0
dtype: int64

At this moment, we already know that we will drop columns "Start" and "Line", the first because it's basically a duplicated index, and the second because it only has 4694/26841 values, which make it useless.

On top of that, based on our needs, we know that we aren't interested in the columns "Official Top", "Title Event".

### Exploring Diver

In [7]:
df[df["Diver"].str.len() < 3]["Diver"]

2639     ()
4687     ()
5119     ()
5695     ()
5696     ()
5697     ()
7124     ()
7782     ()
7817     ()
7818     ()
7819     ()
8508     ()
8529     ()
8553     ()
8973     ()
8989     ()
9120     ()
9156     ()
9166     ()
10417    ()
10786    ()
10787    ()
10788    ()
11224    ()
13306    ()
13343    ()
Name: Diver, dtype: object

We have to note that some divers' name is missing, but we will handle this later in the modifcations part.

### Exploring Gender

In [8]:
df["Gender"].value_counts()

Gender
M    17434
F     9407
Name: count, dtype: int64

No problems here.

### Exploring Discipline

In [9]:
df["Discipline"].value_counts()

Discipline
CWT     10725
FIM      8075
CNF      4813
CWTB     3228
Name: count, dtype: int64

We don't have any problems here : there is only the values that we were expecting, with no NaN according to previous checks.

### Exploring AP

In [10]:
df["AP"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 26841 entries, 0 to 26840
Series name: AP
Non-Null Count  Dtype
--------------  -----
26841 non-null  int64
dtypes: int64(1)
memory usage: 209.8 KB

We only have numeric data so it's ok.

### Exploring RP

In [11]:
df["RP"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 26841 entries, 0 to 26840
Series name: RP
Non-Null Count  Dtype
--------------  -----
26841 non-null  object
dtypes: object(1)
memory usage: 209.8+ KB

We observe that we don't only have numeric data, so we need to check manually.

In [12]:
for value in df["RP"].value_counts().index:
    print(value)

40 m
50 m
30 m
45 m
35 m
60 m
0 m
55 m
70 m
25 m
42 m
65 m
52 m
51 m
43 m
20 m
80 m
46 m
36 m
48 m
41 m
53 m
75 m
61 m
56 m
32 m
47 m
57 m
62 m
38 m
33 m
-2 m
58 m
63 m
31 m
37 m
54 m
66 m
90 m
28 m
44 m
71 m
72 m
85 m
67 m
68 m
73 m
64 m
34 m
27 m
26 m
15 m
82 m
49 m
78 m
81 m
76 m
22 m
77 m
74 m
-
59 m
23 m
88 m
83 m
100 m
91 m
39 m
92 m
86 m
21 m
95 m
29 m
24 m
84 m
69 m
18 m
93 m
87 m
10 m
17 m
96 m
16 m
101 m
105 m
94 m
12 m
98 m
19 m
89 m
102 m
103 m
97 m
79 m
14 m
8 m
9 m
106 m
110 m
13 m
108 m
11 m
5 m
104 m
60 m NR
99 m
107 m
40 m NR
7 m
111 m
50 m NR
3 m
30 m NR
114 m
6 m
65 m NR
112 m
75 m NR
71 m NR
45 m NR
116 m
80 m NR
52 m NR
120 m
109 m
55 m NR
4 m
117 m
61 m NR
118 m
72 m NR
81 m NR
70 m NR
123 m
100 m NR
113 m
115 m
57 m NR
1 m
35 m NR
90 m NR
2 m
76 m NR
66 m NR
74 m NR
20 m NR
25 m NR
119 m
88 m NR
121 m
53 m NR
62 m NR
106 m NR
101 m NR
83 m NR
54 m NR
42 m NR
46 m NR
85 m NR
125 m
77 m NR
51 m NR
67 m NR
36 m NR
41 m NR
73 m NR
92 m NR
82 m NR
102 m NR
97 m NR
122 m
124 m
33 m NR
96 m NR
98 m NR
78 m NR
31 m NR
91 m NR
56 m NR
103 m NR
63 m NR
58 m NR
105 m NR
47 m NR
48 m NR
115 m NR
44 m NR
126 m
84 m NR
104 m NR
68 m NR
72 m CR
91 m CR
37 m NR
69 m NR
43 m NR
32 m NR
128 m
87 m NR
116 m CR
94 m NR
96 m CR
86 m NR
122 m NR
49 m NR
38 m NR
86 m CR
106 m CR
124 m NR
108 m NR
129 m
110 m NR
97 m CR
101 m CR
64 m NR
89 m NR
78 m CR
55 m CR
88 m CR
93 m NR
109 m CR
28 m NR
123 m NR
120 m CR
76 m CR
109 m NR
123 m WR
118 m NR
109 m WR
34 m NR
112 m NR
79 m NR
127 m CR
128 m NR
29 m NR
117 m NR
124 m CR
114 m NR
98 m WR
60 m CR
127 m
67 m CR
16 m NR
126 m NR
138 m
120 m NR
84 m CR
116 m NR
68 m CR
126 m CR
130 m WR
73 m WR
99 m NR
125 m NR
112 m CR
26 m NR
130 m
81 m CR
95 m NR
39 m NR
59 m NR

In [13]:
len(df[df["RP"] == '-'])

138

We will only keep the int value, and replace '-' by 0 for the computation.

Moreover, 138 lines have no value specified as '-', which we replace by a 0.

In [14]:
df["RP"] = df['RP'].apply(lambda x: str(x).strip().split(' ')[0] if x != '-' else 0).astype(int)

In [15]:
df["RP"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 26841 entries, 0 to 26840
Series name: RP
Non-Null Count  Dtype
--------------  -----
26841 non-null  int32
dtypes: int32(1)
memory usage: 105.0 KB

We now only have int as values.

### Exploring Card

In [16]:
df["Card"].value_counts()

Card
WHITE     19189
YELLOW     4990
RED        2524
-           138
Name: count, dtype: int64

In [17]:
df[df["Card"] == "-"]

,Start,Diver,Gender,Discipline,Line,Official Top,AP,RP,Card,Points,Remarks,Title Event,Event Type,Day,Category Event
25564,1,Chiara Obino (ITA),F,CWT,1.0,11:00,98,0,-,-,-,AIDA Freediving World Cup August 2023,Depth Competition,2023-08-07,World Championship
25565,2,Daham Kim (KOR),M,CWTB,1.0,11:06,61,0,-,-,-,AIDA Freediving World Cup August 2023,Depth Competition,2023-08-07,World Championship
25566,3,Rüstem Derİn (TUR),M,FIM,1.0,11:12,96,0,-,-,-,AIDA Freediving World Cup August 2023,Depth Competition,2023-08-07,World Championship
25567,4,Mariam Shalan (EGY),F,FIM,1.0,11:18,60,0,-,-,-,AIDA Freediving World Cup August 2023,Depth Competition,2023-08-07,World Championship
25568,5,Alejandro Lemus (MEX),M,CWT,1.0,11:24,92,0,-,-,-,AIDA Freediving World Cup August 2023,Depth Competition,2023-08-07,World Championship
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25697,19,Jindřiška Zajacová (CZE),F,CWT,1.0,12:48,70,0,-,-,-,AIDA Freediving World Cup August 2023,Depth Competition,2023-08-14,World Championship
25698,20,Lujain Talal (SAU),F,FIM,1.0,12:54,35,0,-,-,-,AIDA Freediving World Cup August 2023,Depth Competition,2023-08-14,World Championship
25699,21,Arseniy Telegin (RUS),M,FIM,1.0,13:00,70,0,-,-,-,AIDA Freediving World Cup August 2023,Depth Competition,2023-08-14,World Championship
25700,22,Essa Albarrk (SAU),M,FIM,1.0,13:06,35,0,-,-,-,AIDA Freediving World Cup August 2023,Depth Competition,2023-08-14,World Championship
25701,23,Violette Salvan-Pugliese (FRA),F,CWT,1.0,13:12,65,0,-,-,-,AIDA Freediving World Cup August 2023,Depth Competition,2023-08-14,World Championship

In [18]:
df[df["Card"] == "-"]["RP"].value_counts()

RP
0    138
Name: count, dtype: int64

In [19]:
df[df["Card"] == "-"]["Remarks"].value_counts()

Remarks
-    138
Name: count, dtype: int64

Here, we clearly see that 138 lines are empty, so non interesting. We simply drop them.

In [20]:
df = df[df["Card"] != "-"]

### Exploring Points

In [21]:
df["Points"].info()

<class 'pandas.core.series.Series'>
Index: 26703 entries, 0 to 26840
Series name: Points
Non-Null Count  Dtype
--------------  -----
26703 non-null  object
dtypes: object(1)
memory usage: 417.2+ KB

In [22]:
# Testing if we have non float values in the column
for value in df["Points"].value_counts().index:
    try:
        float(value)
    except:
        print(value)

In [23]:
df["Points"] = df["Points"].astype(float)

In [24]:
df["Points"].info()

<class 'pandas.core.series.Series'>
Index: 26703 entries, 0 to 26840
Series name: Points
Non-Null Count  Dtype
--------------  -----
26703 non-null  float64
dtypes: float64(1)
memory usage: 417.2 KB

Everything is now for sure normal here.

### Exploring Remarks

#### NaN corrections

We have seen that we have 5 NaN in this column.

Let's handle this first.

In [25]:
df[df["Remarks"].isna() == True]

,Start,Diver,Gender,Discipline,Line,Official Top,AP,RP,Card,Points,Remarks,Title Event,Event Type,Day,Category Event
122,5,Joan Capdevila (ESP),M,FIM,NaN,00:00,68,68,WHITE,68.0,NaN,2016 Yazbeck China Depth National Championship,Depth Competition,2016-08-15,other
186,1,Mara Torrealba Pascuet (ESP),F,FIM,NaN,00:00,55,37,YELLOW,18.0,NaN,Open Costa Brava,Depth Competition,2016-09-10,other
1075,3,Walid Boudhiaf (TUN),M,FIM,NaN,00:00,103,103,WHITE,103.0,NaN,Nirvana Oceanquest Competition,Depth Competition,2016-06-04,other
1138,1,Michel Filinis2 (BRA),M,FIM,NaN,00:00,45,45,WHITE,45.0,NaN,July Kalamata Qualifier Competition,Depth Competition,2016-07-11,other
1461,21,Paul Rollier (IRL),M,FIM,NaN,00:00,56,56,WHITE,56.0,NaN,Nice Abyss Contest 2016,Depth Competition,2016-06-18,NAC

In [26]:
df['Remarks'].fillna("-", inplace=True)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26703 entries, 0 to 26840
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Start           26703 non-null  int64
 1   Diver           26703 non-null  object
 2   Gender          26703 non-null  object
 3   Discipline      26703 non-null  object
 4   Line            4556 non-null   float64
 5   Official Top    26703 non-null  object
 6   AP              26703 non-null  int64
 7   RP              26703 non-null  int32
 8   Card            26703 non-null  object
 9   Points          26703 non-null  float64
 10  Remarks         26703 non-null  object
 11  Title Event     26703 non-null  object
 12  Event Type      26703 non-null  object
 13  Day             26703 non-null  object
 14  Category Event  26703 non-null  object
dtypes: float64(2), int32(1), int64(2), object(10)
memory usage: 3.2+ MB

NaN have been replaced with a corresponding value.

#### Cleaning

This column is by far the most complex to clean, with a large number of unique values.

Hopefully, we have found patterns to facilitate the cleaning.

In [28]:
# In order to make modifications easier
df['Remarks'] = df['Remarks'].str.upper()

In [29]:
df['Remarks'].unique()

array(['-', 'OK', 'SHORT, TAG', '0', 'SHORT, NO TAG',
       'AP<RP, NO TAG, Y-ET', 'Y-BEFORE OT', 'RP AP, NO TAG, Y-ET',
       'DQ SP', 'GRAB', 'NR', 'DQ ??', 'DQPULL', 'DQBO-SURFACE', 'NO TAG',
       'NO TAG,UNDER AP', 'DQOTHER', 'DQ BO', 'DQSP', 'DNS',
       'NATIONAL RECORD FOR ESTONIA', 'NATIONAL RECORD FOR SPAIN',
       'SHORT NO TAG.', 'RED DQ AIRWAYS', 'NATIONAL RECORD FOR ESTONIA.',
       'NATIONAL RECORD FOR SPAIN.', 'NATIONAL RECORD FOR ISRAEL.',
       'RED DQSP', 'WORLD RECORD', 'NATIONAL RECORD',
       'EARLY TURN, NO TAG', 'BO', 'SP', 'GRAB X 2',
       'GRAB,NO TAG,UNDER AP', 'NO TAG,UNDER AP,DQPULL', 'DQBO', 'WR',
       'DQOTHER, PULLING', 'AP>RP NO TAG', 'DQ SP PULL',
       'SHORT TAG, EARLY TURN', 'DQSP ON NATIONAL RECORD',
       'DQOTHER, PULLING, NO TAG', 'CR', 'NATIONAL', 'CONTINENTAL RECORD',
       'SORT NO TAG', 'SHORT NO TAG', 'DQSP + SHORT, TAG',
       'DQSP (SEQUENCE)', 'DQSP (NOT PREFORMED), SHORT-TAG',
       'DQBO (AIRWAYS), SHORT-TAG', 'DQBO (AIRWAYS)', 'SHORT-TAG', 'TAG',
       'DQSP (NOT FINISHED), SHORT, TAG', 'DQOTHER (PULL)', 'EARLY START',
       'DIP', 'COACH DIVING', 'EARLY WARM UP', 'EARLY TURN, TAG',
       'AIRWAYS', 'SAFETY HELP TO SURFACE', 'NO TAG, EARLY TURN', 'TOUCH',
       'NO REMARKS', 'EARLY', 'DQ, WEIGHT', 'DQ, SP',
       'NR EARLY TURN, NO TAG', 'RED (SP + EARLY START 20S)',
       'YELLOW (AP>RP)', 'LATE CHECKING', 'DQ TOUCH', 'ET', 'ET NO TAG',
       'DQ PULL START', 'DQ PULLING', 'DQ AIRWAY', 'RP<AP, NO TAG.',
       'DQ SP (16S)', 'BLACK OUT', 'TURNED EARLY, NO TAG', 'DQ PIP',
       'SHORT , NO TAG', 'DEPART AV TO', 'DQ OTHER ARWAYS',
       'DQ OTHER, PULL AFTER 2M GRAB ZONE', 'EARLY TURN',
       'KOREAN NATIONAL RECORD', 'COACH DIVE', 'PULL',
       'EARLY TURN, NO TAG, GRAB', 'DQ AIRWAYS', 'DQ PULL',
       'EARLY, NO TAG', 'PEN', 'SUBMERGE AIRWAIS', 'DIS', 'W', 'Y', 'R',
       'OK PEN', 'SP& PULL & BO', 'SHORT/TAG', 'RP<AP', 'RP<AP NO TAG',
       'PULLING', 'NR (FRESH WATER)', 'DQSP (>15 S)', 'BIFINS',
       'SP PENALTY', 'DQOTHER - PULLING', 'DQOTHER - AIRWAYS',
       'EARLY START 1SEC', 'SHORT/NO TAG', 'ET(-6) ,NO TAG (-1)',
       'ET(-4), NO TAG(-1)', 'ET(-5), GRAB(-5),NO TAG(-1)',
       'ET(-16),NO TAG(-1)', 'ET(-6), NO TAG(-1)', 'DEU NR',
       'ET(-10), NO TAG(-1)', 'ET(-11), NO TAG(-1)', 'DQSP (AIRWAY)',
       'KOREA FEMALE NATIONAL RECORD', 'ET(-57), NO TAG(-1)',
       'ET(-8), NO TAG(-1)', 'TAIWAN NATIONAL RECORD',
       'ET(-7), NO TAG(-1)', 'DQBO SURFACE', 'SURFACE GRAB',
       'NO TAG & SHORT', 'DQSP OT', 'NO TAG & TAG', 'DQSP AIRWAYS',
       'SHORT & NO TAG', 'PEN GRAB', 'PEN OTHER',
       'DQ SURFACE DIP AIRWAYS.', 'EARLY START, NO TAG', 'DQ DOUBLE PULL',
       'DQ AIRWAYS, START', 'DQOTHER, PULL', 'NO TAG,RP<AP',
       'DQBO (SURFACE)', 'EARLY TURN, NO TAG, 2X GRAB', 'DQ ASSISTED',
       'DOUBLE TURN', 'DQAIRWAY', 'PEN, NO TAG', 'PEN, GRAB',
       'PEN, LANYARD', 'SHORT TAG', 'DQ OTHER', 'EARLY TURN+MISSING TAG',
       'DSN', 'EARLY TURN+MISSIG TAG', 'GRAB + MISSING TAG', '78',
       'DQBO AIRWAYS', 'DQ OTHER TOUCH', 'EARLY TURN + MISSING TAG',
       'PEN, EARLY TURN AND NO TAG', '1:35 DIVE TIME', '1:27 DIVE TIME',
       '0:59 ZWE NATIONAL RECORD CLAIMED', '2:21 DIVE TIME',
       'TURNED EARLY NO TAG 1:26 DIVE TIME', '1:01 DIVE TIME',
       '1:03 DIVE TIME TURNED EARLY, NO TAG', '1:42 DIVE TIME',
       '2:03 DIVE TIME', '0:52 DIVE TIME ZWE NATIONAL RECORD CLAIMED',
       '1:22 DIVE TIME', '2:13 DIVE TIME', '1:36 DIVE TIME',
       'CWT BI FINS', 'GRAB START', 'HONG KONG NR', 'EARLY TURN， NO TAG',
       'SURFACE BO', 'PULL，SP', 'MACAO NR', 'AIRWAY', 'EARLY TURN，NO TAG',
       'DQOTHER, NO TAG', 'DQOTHER, DNS, NO TAG', 'AP>RP, NO TAG',
       'ASSIST', 'DQ', 'GRAB AT START', 'DQ LATE START', 'DQ BO AIRWAYS',
       'DQ BO PULL', 'AP<RP NO TAG', 'DQ BO DIP', 'RP<AP, NO TAG',
       'AIRWAY DIP', 'SHORT/ NO TAG', 'SP ET', 'ET TAG', 'ISRAELI NR',
       'SHORT', 'DQAIRWAYS', 'DQPULLING', 'BI-FINS', 'NO TAG,RP<AP,DQBO',
       'NO TAG,RP<AP,DQSP', 'DQSP, AIRWAYS', 'TOTAL DIVE TIME 1:19',
       'SHORT, TAG (AIRWAY DIP AT SURFACE) TOTAL DIVE TIME: 1 SECOND',
       'TOTAL DIVE TIME 1:03', 'TOTAL DIVE TIME: :50',
       'SHORT, TAG, GRAB TOTAL DIVE TIME: 1:27',
       'SHORT, TAG TOTAL DIVE TIME: 1:48', 'TOTAL DIVE TIME: :45',
       'TOTAL DIVE TIME: :55', 'SHORT, TAG TOTAL DIVE TIME: 1:07',
       'TOTAL DIVE TIME: :53', 'TOTAL DIVE TIME: 1:09',
       'SHORT, TAG TOTAL DIVE TIME: 1:19', 'TOTAL DIVE TIME: 1:21',
       'START', 'EARLY TURN AND NO TAG', 'EARLY TURN, NO TAG.',
       'DQOTHER, TOUCH', 'DQ PULL SURFACE', 'PEN, ET+GRAB',
       'NO TAG,RP<AP,DQOTHER', 'PEN, SHORT, NO TAG', 'DQTOUCH',
       'OTHER,NO TAG,RP<AP', 'DQSP,DQOTHER', 'DQOTHER/PULL', 'OTHER',
       'DQAIRWAYS,DQBO-SURFACE', 'DQCHECK-IN', 'NO TAG,RP<AP,DQCHECK-IN',
       'DQSP,NO TAG', 'DQBO,DQSP,DQTOUCH', 'NO TAG,RP<AP,DQSP,DQOTHER',
       'DQBO,DQSP', 'TURN,NO TAG,RP<AP', 'OTHER,NO TAG',
       'NO TAG,RP<AP,DQAIRWAYS', 'RPAP,NO TAG', 'RPAP,NO TAG,TURN,EARLY',
       'PB', 'PB - NEW NZ NATIONAL RECORD FOR CWT-BI FINS.',
       'CWT-BI FINS NZ NATIONAL RECORD',
       'WHITE CARD CWTB NZ FEMALE NATIONAL RECORD',
       'WHITE CARD CWTB NZ MENS NATIONAL RECORD',
       'NEW NATIONAL RECORD CLAIMED FOR MUS. IN CWT',
       'PB - EQUALLED THE NZ NATIONAL CWT-BI FINS RECORD.', 'CWT-BI FINS',
       'RED CARD , GOT ENTANGLED AT BASE PLATE - SAFETIES RELEASED HER.',
       'WHITE CARD PB EQUALS CWTB NZ MALE NATIONAL RECORD', 'WHITE CARD',
       'PB - NEW NATIONAL RECORD FOR MUS CLAIMED.',
       'YELLOW CARD, TURNED EARLY , NO TAG',
       'PB & NEW CWT BI-FINS NZ NATIONAL RECORD',
       'WHITE CARD PB & CWTB NZ NATIONAL RECORD.', 'SHORT,NO TAG,RP<AP',
       'NO TAG,RP<AP,DQBO-SURFACE', 'DQSP,DQAIRWAYS', 'RPAP,NO TAG,DQSP',
       'DQSP,DQTOUCH', 'DQOTHER,NO TAG,RP<AP', 'RPAP,NO TAG,EARLY',
       'OTHER,EARLY,NO TAG,RP<AP', 'EARLY,NO TAG,RP<AP',
       'EARLY,NO TAG,RP<AP,DQSP',
       'EARLY,START,NO TAG,RP<AP,DQSP,DQAIRWAYS',
       'EARLY,NO TAG,RP<AP,DQAIRWAYS', 'DQBO,DQAIRWAYS',
       'DQSP,DQOTHER,DQAIRWAYS', 'TAG, RPAP', 'NO TAG,DQBO-SURFACE',
       'NO TAG,DQOTHER', 'NO TAG,RP<AP,DQOTHER,DQAIRWAYS', 'DQLATESTART',
       'DQLATESTART,NO TAG', 'DQAIRWAYS,NO TAG,RP<AP',
       'NO TAG,RP<AP,DQBO-UW', 'DQBO-UW', 'NO TAG,DQCHECK-IN',
       'RPAP,NO TAG,DQPULL', 'GRAB,NO TAG,RP<AP', 'DQOTHER,DQPULL',
       'OTHER,DQBO-SURFACE', 'DQSP,NO TAG,RP<AP',
       'DQAIRWAYS,DQTOUCH,DQBO-SURFACE', 'RPAP,NO TAG,DQBO-UW',
       'RPAP,NO TAG,DQOTHER', 'DQOTHER,DQBO-SURFACE', 'OTHER,DQAIRWAYS',
       'DQTOUCH,DQAIRWAYS', 'DQAIRWAYS,DQTOUCH', 'EARLY,GRAB',
       'GRAB,NO TAG,RP<AP,DQOTHER', 'DQSP,DQPULL', 'RPAP,NO TAG,RP<AP',
       'RPAP,NO TAG,DQAIRWAYS,DQSP', 'DQAIRWAYS,DQSP', 'GRAB,DQPULL',
       'RPAP,NO TAG,DQBO-SURFACE,DQPULL', 'DQBO-SURFACE,DQPULL',
       'GRAB,NO TAG,RP<AP,DQPULL', 'DQSP,DQOTHER,DQPULL',
       'NO TAG,RP<AP,DQPULL', 'GRAB,DQBO-SURFACE,DQPULL',
       'DQAIRWAYS,DQPULL', 'RPAP,NO TAG,DQSP,DQPULL',
       'DQBO-SURFACE,DQAIRWAYS', 'NO TAG,DQLATESTART',
       'NO TAG,UNDER AP,DQAIRWAYS', 'EARLYSTART',
       'DQAIRWAYS,DQSP,DQBO-SURFACE', 'DQAIRWAYS,DQBO-SURFACE,DQPULL',
       'RPAP,NO TAG,DQBO-SURFACE', 'DQBO-UW,DQPULL',
       'DQOTHER,DQAIRWAYS,DQBO-SURFACE', 'NO TAG,UNDER AP,DQSP,DQTOUCH',
       'NO TAG,UNDER AP,DQSP', 'NO TAG,UNDER AP,DQTOUCH',
       'RPAP,NO TAG,DQSP,DQOTHER', 'SHORT,NO TAG,UNDER AP',
       'NO TAG,UNDER AP,DQOTHER', 'NO TAG,UNDER AP,DQSP,DQPULL',
       'GRAB,PULL', 'NO TAG,UNDER AP,DQBO-SURFACE', 'RPAP,NO TAG,GRAB',
       'RPAP,NO TAG,DQSP,UNDER AP', 'RPAP,NO TAG,DQPULL,DQOTHER',
       'RPAP,NO TAG,DQPULL,DQSP', 'DQTOUCH,DQPULL',
       'NO TAG,UNDER AP,DQBO-UW', 'NO TAG,DQSP,UNDER AP',
       'NO TAG,UNDER AP,DQAIRWAYS,DQPULL',
       'NO TAG,UNDER AP,DQOTHER,DQPULL', 'NO TAG,UNDER AP,DQTOUCH,DQPULL',
       'DQOTHER,DQBO-UW', 'UNDER AP', 'LANYARD', 'TURN,RPAP,NO TAG',
       'NO TAG,DQAIRWAYS', 'DQSP,DQAIRWAYS,DQTOUCH,DQBO-SURFACE',
       'RPAP,NO TAG,DQCHECK-IN', 'NO TAG,UNDER AP,DQCHECK-IN',
       'TURN,NO TAG,UNDER AP', 'DQSP,DQBO-SURFACE',
       'RPAP,NO TAG,DQSP,DQAIRWAYS,DQPULL', 'RPAP,NO TAG,EARLYSTART',
       'TURN'], dtype=object)

In [30]:
def remarks_transformer(remark:str) -> str:
    if any(_ in remark for _ in ["DQBO", "DQBO-SURFACE", "DQBO-UW", "DQ BO", "BO", "BLACK OUT"]):
        return "Syncope"
    
    elif any(_ in remark for _ in ["R", "DQSP", "DQOTHER", "DNS", "DQAIRWAYS", "PULL", "DQ", "ASSIST", "SP", "LATE CHECKING", "DSN", "TOUCH", "COACH", "DIS", "DIP"]):
        return "RED"

    elif any(_ in remark for _ in ["Y", "PEN",  "NO TAG", "TAG", "AP", "RP", "EARLY", "TURN", "SHORT", "GRAB", "ET"]):
        return "YELLOW"

    elif any(_ in remark for _ in ["OK", "-", "NR", "RECORD", "W", "0", "DIVE TIME", "NATIONAL", "BIFINS", "PB", "78"]):
        return "WHITE"
    else:
        return remark

In [31]:
df["Remarks"] = df["Remarks"].apply(lambda x: remarks_transformer(str(x)))
df["Remarks"].value_counts()

Remarks
WHITE      18844
RED         4390
YELLOW      2696
Syncope      773
Name: count, dtype: int64

And we are good to go !

### Exploring Event Type

In [32]:
df["Event Type"].value_counts()

Event Type
Depth Competition      19297
Mixed Competition       3794
World Championship      1921
Competition             1447
Pool Competition         140
Worldrecord attempt       57
Team Competition          47
Name: count, dtype: int64

No missing values, and everything is as expected.

### Exploring Day

In [33]:
for value in df["Day"].value_counts().index:
    print(value)

2008-09-03
2012-11-20
2011-09-15
2013-09-15
2014-11-27
2014-05-25
2010-06-14
2010-09-26
2015-09-11
2015-05-23
2015-04-27
2020-08-15
2013-11-09
2008-07-12
2009-04-03
2023-06-24
2007-10-27
2012-09-09
2012-10-20
2009-04-21
2011-04-17
2003-05-29
2009-12-03
2006-12-09
2010-04-27
2008-04-18
2010-04-29
2013-05-20
2020-08-14
2015-09-05
2007-10-21
2022-06-18
2011-06-23
2015-08-27
2008-06-20
2009-09-06
2008-06-10
2013-09-09
2010-08-14
2002-10-31
2021-09-24
2017-08-26
2004-06-14
2007-08-14
2019-08-24
2021-09-25
2006-08-19
2016-04-30
2023-05-26
2006-09-09
2012-05-04
2015-06-06
2017-07-22
2019-06-09
2014-09-19
2005-09-01
2009-07-03
2015-11-01
2014-06-12
2023-03-10
2008-08-10
2013-10-05
2006-05-27
2022-08-06
2022-08-20
2015-06-20
2015-05-25
2014-06-15
2022-08-05
2016-05-02
2002-07-27
2009-07-19
2012-08-18
2022-09-11
2022-08-02
2008-07-25
2017-08-19
2016-05-01
2015-05-02
2021-09-17
2010-05-11
2021-06-19
2013-07-06
2009-06-22
2010-05-21
2009-08-13
2006-06-04
2013-10-30
2018-09-02
2019-09-21
2022-06-25
2004-08-12
2015-05-11
2022-08-03
2017-09-18
2019-06-11
2000-01-01
2022-10-01
2001-11-10
2020-10-25
2014-05-11
2018-09-01
2021-09-23
2005-11-05
2014-05-15
2022-10-09
2019-04-25
2022-09-17
2008-08-20
2018-07-24
2017-08-20
2019-06-10
2018-07-25
2018-09-16
2019-09-12
2005-05-28
2012-07-13
2022-03-22
2019-09-11
2008-04-01
2018-10-22
2018-06-23
2018-09-22
2018-07-22
2019-09-13
2022-06-26
2018-06-08
2010-07-06
2009-09-13
2007-08-04
2013-08-07
2014-08-25
2012-02-09
2019-09-27
2022-05-28
2021-05-15
2022-10-08
2002-03-31
2015-10-01
2022-10-03
2018-09-20
2018-10-23
2010-08-01
2022-03-24
2018-08-30
2022-05-22
2016-06-18
2021-09-28
2022-10-23
2004-05-06
2022-08-09
2019-05-12
2022-05-19
2014-09-11
2022-09-24
2022-10-02
2017-08-23
2012-10-14
2021-10-29
2014-08-08
2022-08-07
2021-05-14
2021-09-16
2019-08-04
2019-11-03
2018-06-10
2017-08-21
2019-10-16
2012-05-08
2022-10-19
2014-10-14
2022-09-25
2021-09-29
2019-09-28
2015-08-15
2022-09-23
2023-05-24
2019-05-10
2020-10-24
2019-10-15
2013-10-21
2021-09-27
2019-09-09
2013-02-09
2018-08-28
2023-05-27
2019-09-14
2022-10-21
2009-05-27
2014-03-21
2006-07-01
2015-11-19
1999-01-01
2019-05-18
2021-08-14
2011-07-30
2018-08-27
2023-05-28
2015-08-21
2019-06-23
2013-04-25
2013-08-01
2016-09-23
2018-09-19
2018-06-09
2022-09-04
2012-06-06
2019-11-05
2019-11-07
2021-09-14
2018-09-18
2021-10-30
2017-10-24
2012-08-09
2008-04-21
2023-05-21
2023-05-15
2022-10-20
2017-06-03
2017-10-26
2019-06-22
2009-09-16
2021-04-04
2011-04-28
2019-10-06
2014-06-29
2022-05-23
2021-05-11
2019-08-16
2022-05-20
2019-08-23
2014-11-18
2019-05-11
2019-08-17
2017-07-20
2010-02-11
2015-08-19
2019-11-24
2019-07-20
2019-09-01
2009-05-30
2021-04-06
2018-07-07
2021-08-29
2018-09-17
2022-05-29
2022-09-19
2022-08-19
2022-09-03
2017-06-04
2017-07-21
2019-05-19
2019-09-02
2021-09-12
2019-09-04
2021-08-28
2023-06-27
2017-09-17
2012-05-30
2002-06-28
2015-05-13
2019-10-19
2019-10-18
2012-03-31
2022-10-24
2023-02-16
2017-06-05
2008-08-16
2021-03-24
2012-08-20
2019-09-06
2021-11-15
2022-08-17
2020-10-22
2009-07-25
2022-12-19
2021-06-12
2022-09-20
2013-09-07
2019-10-17
2023-06-29
2009-07-27
2005-07-01
2010-07-25
2021-11-18
2018-08-24
2013-08-24
2018-08-23
2018-07-16
2014-10-05
2022-05-18
2013-10-06
2019-07-18
2022-12-21
2022-10-26
2018-07-18
2022-08-14
2021-11-22
2016-11-07
2021-11-16
2016-11-05
2019-09-24
2017-04-30
2021-05-12
2018-06-24
2019-08-25
2007-06-23
2021-10-10
2011-09-11
2018-07-26
2019-09-25
2022-05-24
2006-05-26
2017-09-16
2017-08-22
2011-10-16
2014-08-27
2006-08-27
2018-07-17
2020-10-18
2016-04-28
2017-05-25
2019-08-05
2022-08-01
2018-05-21
2018-08-18
2019-08-09
2023-05-18
2008-02-08
2022-08-13
2003-09-07
2003-09-05
2017-09-22
2019-10-05
2014-08-02
2013-08-14
2011-07-10
2013-06-23
2009-03-07
2007-07-29
2023-06-25
2011-07-16
2016-03-18
2017-10-15
2017-05-10
2017-05-06
2016-05-26
2021-06-20
2018-08-19
2023-05-16
2023-06-12
2019-05-22
2023-06-13
2019-09-23
2019-11-20
2021-08-17
2002-08-31
2023-06-10
2022-09-21
2021-07-14
2022-06-03
2023-06-11
2021-03-25
2007-10-07
2023-03-31
2019-08-03
2014-08-23
2019-10-13
2018-07-20
2017-05-02
2022-08-11
2015-03-05
2011-02-10
2017-08-29
2005-07-09
2018-05-30
2023-03-15
2022-09-10
2023-06-17
2023-06-16
2013-07-26
2018-07-21
2022-06-04
2023-01-14
2019-07-28
2018-08-25
2015-08-28
2012-05-27
2018-05-19
2008-03-09
2021-08-18
2021-11-19
2022-10-30
2014-09-27
2015-10-18
2022-06-05
2008-06-29
2020-09-20
2018-05-20
2023-06-14
2023-06-15
2020-09-26
2023-05-19
2020-10-20
2017-05-08
2019-09-29
2023-03-05
2019-11-23
2023-03-16
2017-05-04
2021-08-13
2019-11-09
2022-08-23
2021-10-07
2013-03-22
2021-10-14
2021-10-16
2013-07-27
2022-05-26
2023-01-12
2019-07-27
2009-08-28
2008-10-12
2016-04-22
2021-09-10
2016-04-24
2022-08-24
2012-09-29
2022-10-28
2020-10-17
2020-09-22
2019-11-26
2019-11-21
2008-08-02
2019-04-28
2008-08-01
2019-04-27
2023-03-17
2017-08-28
2017-08-25
2023-07-07
2012-08-11
2023-05-22
2019-08-10
2010-08-21
2018-11-11
2010-04-22
2021-09-30
2022-08-08
2017-05-14
2021-04-08
2016-09-24
2023-07-19
2022-05-25
2017-08-08
2006-09-02
2019-05-20
2019-09-07
2023-05-25
2021-10-31
2011-11-11
2007-09-07
2022-09-18
2019-05-21
2008-08-24
2017-05-05
2012-11-04
2014-06-07
2018-11-05
2019-05-31
2021-07-18
2022-07-24
2016-05-30
2014-08-13
2021-10-08
2019-09-08
2020-09-23
2023-05-06
2019-09-18
2022-08-10
2019-09-17
2022-10-29
2023-04-04
2007-04-29
2018-11-03
2019-05-29
2022-10-15
2015-06-17
2017-08-10
2016-11-03
2003-06-29
2023-05-23
2016-05-18
2016-04-26
2020-09-12
2019-09-16
2023-04-02
2021-10-03
2021-10-11
2022-08-18
2023-07-10
2023-05-07
2023-05-03
2009-08-25
2014-07-05
2019-05-28
2018-06-22
2021-08-31
2006-07-29
2018-07-23
2016-09-22
2023-03-04
2023-07-20
2017-09-03
2017-09-02
2021-10-02
2016-05-28
2018-09-21
2015-03-20
2018-11-30
2018-05-07
2018-05-24
2018-11-04
2018-11-07
2016-04-27
2017-05-01
2017-06-24
2018-10-21
2004-07-31
2017-05-31
2017-09-20
2008-05-03
2022-08-22
2004-07-22
2012-07-26
2021-04-02
2004-06-27
2002-09-14
2019-11-27
2017-07-28
2015-11-05
2015-09-20
2007-09-08
2021-08-12
2016-04-23
2016-06-01
2022-05-16
2022-10-12
2022-09-16
2020-09-10
2009-07-12
2010-09-05
2022-08-21
2002-09-07
2022-06-19
2016-05-31
2023-07-08
2005-10-14
2013-11-30
2020-09-09
2010-06-29
2013-08-02
2005-11-26
2018-11-24
2018-11-08
2006-11-11
2017-05-15
2019-11-04
2018-05-09
2019-11-02
2015-12-19
2016-11-14
2019-07-29
2006-07-22
2017-05-09
2017-06-25
2009-07-17
2020-09-11
2019-08-02
2013-05-30
2016-05-27
2018-11-29
2008-06-28
2011-08-06
2016-10-23
2021-07-20
2022-04-06
2021-07-12
2010-10-11
2021-07-15
2016-10-08
2022-06-21
2021-07-19
2015-07-11
2020-09-01
2019-12-15
2021-10-12
2005-05-27
2015-06-10
2016-11-15
2019-11-06
2021-04-03
2023-06-30
2018-11-27
2021-05-13
2006-07-09
2017-11-26
2018-11-23
2017-04-18
2018-10-24
2019-04-29
2006-03-26
2021-10-01
2022-09-06
2017-04-15
2021-08-16
2023-07-22
2018-05-18
2020-09-25
2021-09-11
2022-07-16
2023-07-29
2021-10-15
2022-04-25
2022-06-23
2022-07-31
2018-08-04
2018-08-05
2022-10-06
2023-03-14
2022-09-07
2022-05-17
2018-11-06
2022-07-17
2021-05-06
2018-11-26
2021-07-11
2016-07-17
2017-04-14
2018-05-31
2003-08-02
2017-09-23
2018-03-29
2016-01-31
2017-11-30
2016-01-30
2014-02-17
2016-07-09
2013-10-19
2006-07-14
2017-07-16
2012-12-05
2016-08-25
2016-07-24
2007-07-22
2017-05-18
2018-11-10
2018-05-25
2016-08-27
2007-07-16
2015-04-18
2017-05-30
2022-04-23
2021-09-09
2009-07-30
2021-08-10
2002-04-21
2017-11-28
2019-04-26
2022-04-22
2003-09-13
2017-04-16
2018-10-20
2022-09-05
2007-07-15
2018-10-14
2006-10-21
2023-06-26
2023-06-21
2004-05-07
2018-03-30
2018-03-31
2022-04-26
2012-11-11
2020-11-26
2020-09-21
2019-03-03
2011-01-21
2019-08-29
2008-05-30
2014-07-26
2019-10-14
2004-06-25
2019-05-14
2012-06-16
2014-08-01
2005-05-14
2007-04-03
2020-09-03
2019-05-08
2019-07-25
2013-11-27
2009-12-02
2004-04-18
2021-05-07
2020-09-04
2019-03-15
2019-05-13
2017-10-14
2008-11-02
2018-10-02
2016-09-16
2022-09-30
2016-09-06
2023-01-15
2016-09-05
2023-04-26
2017-05-21
2018-05-23
2017-11-29
2023-04-27
2023-05-05
2016-06-09
2017-11-27
2016-06-04
2018-06-01
2022-08-16
2017-05-23
2016-06-07
2016-06-05
2016-06-22
2016-06-21
2023-07-01
2016-10-09
2016-09-08
2016-06-08
2003-05-05
2020-10-16
2016-11-11
2016-11-08
2023-07-30
2016-06-06
2022-06-24
2012-08-30
2018-10-18
2014-10-22
2011-11-19
2011-07-24
2009-07-26
2008-11-15
2010-02-13
2021-08-05
2013-06-15
2008-02-22
2003-09-06
2021-06-18
2012-06-24
2014-07-13
2007-09-02
2022-09-29
2021-09-08
2016-09-13
2022-06-22
2010-03-22
2021-04-05
2011-04-15
2014-07-27
2014-08-21
2023-07-23
2018-08-31
2019-03-14
2019-08-13
2019-04-05
2016-07-23
2018-02-24
2018-02-23
2012-06-10
2019-05-09
2009-11-24
2018-10-03
2018-06-02
2008-09-28
2020-09-19
2006-04-15
2007-09-15
2003-04-25
2016-09-09
2023-06-28
2018-05-05
2012-01-16
2018-05-04
2011-05-22
2022-08-04
2020-07-30
2017-09-11
2020-10-14
2021-09-26
2020-09-14
2020-11-07
2020-11-27
2020-11-24
2020-11-23
2002-08-17
2021-11-25
2016-07-05
2019-08-15
2002-08-23
2014-06-28
2019-07-16
2016-11-10
2023-06-02
2021-10-06
2021-11-24
2021-05-20
2021-04-18
2023-05-04
2017-10-28
2021-04-15
2004-11-29
2023-04-30
2022-02-17
2023-04-29
2012-05-03
2021-08-20
2014-09-28
2017-08-27
2021-09-06
2019-03-16
2009-10-11
2015-04-29
2014-06-21
2011-06-11
2021-10-09
2021-03-19
2021-04-16
2004-11-27
2009-05-23
2021-05-18
2018-12-01
2021-05-17
2015-08-23
2014-06-18
2021-04-19
2012-11-06
2010-10-07
2017-07-27
2005-06-24
2022-09-13
2018-05-06
2019-08-31
2010-06-06
2023-05-13
2012-08-04
2018-05-03
2016-08-21
2023-06-01
2002-06-08
2002-05-24
2023-05-20
2002-03-23
2016-06-23
2018-05-29
2016-06-25
2010-05-15
2015-08-16
2021-08-21
2005-05-13
2017-03-17
2018-11-16
2007-11-10
2007-11-24
2009-10-24
2018-07-14
2018-07-13
2022-04-04
2019-07-19
2023-07-02
2023-05-17
2009-09-27
2019-08-27
2019-08-14
2023-05-30
2013-08-17
2021-06-14
2019-06-30
2021-07-17
2005-04-23
2021-03-21
2017-03-18
2023-07-18
2017-05-26
2016-05-09
2022-12-04
2020-11-09
2008-08-25
2018-12-02
2002-09-28
2018-07-27
2014-04-18
2012-09-30
2012-09-28
2019-07-26
2006-09-16
2022-10-13
2017-05-20
2022-03-19
2020-10-13
2011-07-22
2011-11-26
2017-03-16
2016-05-25
2003-04-04
2017-09-13
2016-05-15
2017-04-17
2022-09-15
2018-09-23
2018-08-16
2022-06-17
2005-12-18
2014-10-19
2007-03-31
2022-04-03
2014-10-11
2022-08-27
2012-07-28
2018-07-28
2016-10-02
2016-10-03
2022-04-05
2016-10-24
2016-10-25
2011-06-25
2017-08-15
2022-03-20
2018-05-14
2017-08-18
2022-03-18
2002-05-25
2021-06-13
2021-03-20
2003-06-20
2014-07-29
2013-04-22
2004-06-18
2004-05-22
2020-07-25
2004-10-09
2020-07-26
2021-06-11
2015-06-12
2021-07-02
2016-05-12
2013-09-29
2012-08-13
2007-08-03
2013-05-09
2022-07-11
2019-07-21
2014-10-25
2018-08-02
2009-09-26
2022-04-09
2022-04-07
2019-04-24
2016-08-19
2010-10-28
2012-07-29
2017-08-17
2017-04-19
2007-07-21
2009-09-25
2018-10-13
2009-06-27
2021-01-27
2008-08-03
2017-08-16
2014-09-05
2017-07-08
2021-11-06
2016-05-16
2020-10-15
2018-05-11
2016-08-15
2022-10-22
2016-10-10
2018-10-12
2019-07-13
2016-08-16
2015-09-26
2016-07-26
2017-09-15
2019-08-18
2021-08-26
2019-07-14
2021-08-15
2020-03-13
2020-03-14
2016-10-28
2016-03-20
2013-11-28
2016-03-19
2023-05-29
2022-09-22
2004-10-29
2005-07-23
2020-03-15
2020-08-30
2015-09-27
2020-08-09
2018-10-11
2018-10-10
2012-06-01
2020-08-29
2022-09-28
2016-11-24
2007-07-28
2021-01-26
2022-07-30
2015-06-24
2013-07-25
2016-11-23
2017-09-24
2015-04-30
2011-05-16
2014-06-03
2015-09-13
2018-03-15
2020-08-19
2005-06-03
2023-07-21
2019-10-20
2014-07-21
2021-10-22
2016-07-25
2020-07-19
2023-06-03
2021-08-27
2014-06-22
2003-11-21
2018-03-16
2021-11-21
2019-08-28
2022-04-08
2019-09-10
2014-11-01
2005-07-16
2015-11-20
2016-09-10
2020-08-20
2020-08-22
2020-07-23
2019-03-13
2014-11-09
2012-08-12
2018-07-08
2011-09-17
2018-07-10
2016-08-20
2009-06-13
2022-07-10
2016-05-14
2016-05-10
2020-08-28
2015-06-13
2009-05-10
2016-11-25
2016-11-22
2022-07-26
2015-10-10
2016-11-21
2013-07-28
2014-07-20
2016-11-20
2023-03-25
2022-08-30
2021-10-23
2021-09-07
2018-03-17
2022-09-26
2018-04-04
2022-07-07
2022-09-09
2010-09-25
2017-12-15
2017-12-16
2022-07-06
2022-10-18
2016-07-14
2021-07-25
2021-07-26
2018-08-15
2016-07-13
2016-10-29
2006-05-14
2021-07-28
2021-07-29
2021-09-21
2021-09-20
2009-12-06
2021-10-21
2021-10-24
2019-10-11
2006-04-01
2023-05-14
2022-07-03
2015-10-17
2022-07-29
2022-07-28
2017-09-29
2023-03-27
2023-03-29
2022-08-29
2022-08-31
2022-08-25
2010-09-04
2017-07-29
2022-07-02
2010-12-11
2017-09-19
2022-10-16
2018-07-09
2012-05-31
2006-09-03
2016-06-15
2016-06-14
2013-05-19
2011-07-27
2022-08-26
2003-09-30
2018-10-30
2021-10-20
2004-09-11
2016-07-11
2014-09-13
2022-09-14
2007-12-16
2022-10-17
2011-09-12
2020-08-27
2007-04-07
2022-12-22
2022-07-27
2007-05-25
2003-08-23
1994-06-12
2023-02-25
2001-08-11
2016-08-18
1997-12-05
2018-03-26
2003-08-27
2014-09-06
2018-03-28
2016-08-17
2021-10-26
2016-06-12
2021-09-22
1998-09-06
2001-05-11
2003-07-19
1998-09-19
1996-10-05
1999-10-18
1997-09-13
1995-09-17
1997-08-02
2021-07-31
2007-05-03
2016-06-16
2005-04-08
2004-09-10
2002-12-06
2001-08-17
2000-08-03
2006-08-31
2008-06-30
2004-06-09
2021-10-25
1996-10-11
2001-05-06
1999-10-03
2021-03-16
2004-03-21
2022-10-05
2016-07-12
2016-07-15
2022-08-28
2002-11-06
2022-06-11
2022-05-21
2018-10-31
2018-11-01
2015-08-08
2020-11-18
2022-09-27
2020-12-12
2001-09-08
2022-07-25
2004-03-23
2011-08-28
2004-10-23
1999-11-12
2012-12-12
2007-09-14
2020-11-16

Data is consistent, so we may use it for further analysis.

### Exploring Category Event

In [34]:
df["Category Event"].value_counts()

Category Event
other                 18685
World Championship     4120
VB                     1880
Panglao                1339
NAC                     679
Name: count, dtype: int64

With that much divers in an unknown category, this isn't relevant to keep this column.

## Modifications and creation of specific columns

In [35]:
# Dropping duplicates if there are any (based on previous exploration, there isn't).
df.drop_duplicates(inplace=True)

### Dropping columns

In [36]:
df.drop(["Start", "Line", "Official Top", "Title Event", "Category Event"], axis=1, inplace=True)

In [37]:
df.head()

,Diver,Gender,Discipline,AP,RP,Card,Points,Remarks,Event Type,Day
0,Tasos Grillakis (GRC),M,FIM,33,23,YELLOW,12.0,WHITE,Depth Competition,2016-07-17
1,Antonis Papantonatos (GRC),M,FIM,55,47,YELLOW,38.0,WHITE,Depth Competition,2016-07-17
2,Dimitris Koumoulos (GRC),M,CNF,55,55,WHITE,55.0,WHITE,Depth Competition,2016-07-17
3,Christos Papadopoulos (GRC),M,CWT,55,55,WHITE,55.0,WHITE,Depth Competition,2016-07-17
4,Anna Chalari (GRC),F,CWT,15,15,WHITE,15.0,WHITE,Depth Competition,2016-07-17

### Creating new columns

#### Various columns

In [38]:
# Extracting the month from the 'Day' column
df['Month'] = pd.to_datetime(df['Day']).dt.month
df['Year'] = pd.to_datetime(df['Day']).dt.year

# Creating depth difference
df['Depth_Difference'] = df['AP'] - df['RP']

# Calculating total dive experience
# Sorting data by 'Day'
df.sort_values(by=['Day'], inplace=True)

# Cumulative count of dives per diver
df['Experience Dive'] = df.groupby('Diver').cumcount()

# Calculating experience per discipline
# Cumulative count of dives per diver per discipline
df['Experience Discipline'] = df.groupby(['Diver', 'Discipline']).cumcount()

In [39]:
# Removing "Day" column as it beacame useless
df.drop("Day", axis=1, inplace=True)

In [40]:
df.head()

,Diver,Gender,Discipline,AP,RP,Card,Points,Remarks,Event Type,Month,Year,Depth_Difference,Experience Dive,Experience Discipline
8929,Deborah Andollo (CUB),F,CWT,61,61,WHITE,61.0,WHITE,Worldrecord attempt,6,1994,0,0,0
3716,Umberto Pelizzari (ITA),M,CWT,72,72,WHITE,72.0,WHITE,Worldrecord attempt,9,1995,0,0,0
3713,Deborah Andollo (CUB),F,CWT,62,62,WHITE,62.0,WHITE,Worldrecord attempt,10,1996,0,1,1
5021,Michael Oliva (FRA),M,CWT,72,72,WHITE,72.0,WHITE,Worldrecord attempt,10,1996,0,0,0
3717,Alejandro Ravelo (CUB),M,CWT,73,73,WHITE,73.0,WHITE,Worldrecord attempt,8,1997,0,0,0

#### Creation of "Name" and "Country" columns from "Diver"

In [41]:
df[['Name', 'Country']] = df['Diver'].apply(lambda x:x.strip()).replace(" ()", " (Unknown)").replace("()", "Unknown (Unknown)").replace("", "Unknown (Unknown)").str.rsplit(' ', n=1, expand=True).astype(str).replace("()", "(Unknown)")

# Remove parentheses from 'Country' column values
df['Country'] = df['Country'].str.strip('()')

Thanks to that, we now have countries for future vizualisations.

Please note that unknown values as '()' or "Name Surname ()" have been marked as 'Unknown'.

In [42]:
df.head()

,Diver,Gender,Discipline,AP,RP,Card,Points,Remarks,Event Type,Month,Year,Depth_Difference,Experience Dive,Experience Discipline,Name,Country
8929,Deborah Andollo (CUB),F,CWT,61,61,WHITE,61.0,WHITE,Worldrecord attempt,6,1994,0,0,0,Deborah Andollo,CUB
3716,Umberto Pelizzari (ITA),M,CWT,72,72,WHITE,72.0,WHITE,Worldrecord attempt,9,1995,0,0,0,Umberto Pelizzari,ITA
3713,Deborah Andollo (CUB),F,CWT,62,62,WHITE,62.0,WHITE,Worldrecord attempt,10,1996,0,1,1,Deborah Andollo,CUB
5021,Michael Oliva (FRA),M,CWT,72,72,WHITE,72.0,WHITE,Worldrecord attempt,10,1996,0,0,0,Michael Oliva,FRA
3717,Alejandro Ravelo (CUB),M,CWT,73,73,WHITE,73.0,WHITE,Worldrecord attempt,8,1997,0,0,0,Alejandro Ravelo,CUB

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26700 entries, 8929 to 26783
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Diver                  26700 non-null  object
 1   Gender                 26700 non-null  object
 2   Discipline             26700 non-null  object
 3   AP                     26700 non-null  int64
 4   RP                     26700 non-null  int32
 5   Card                   26700 non-null  object
 6   Points                 26700 non-null  float64
 7   Remarks                26700 non-null  object
 8   Event Type             26700 non-null  object
 9   Month                  26700 non-null  int32
 10  Year                   26700 non-null  int32
 11  Depth_Difference       26700 non-null  int64
 12  Experience Dive        26700 non-null  int64
 13  Experience Discipline  26700 non-null  int64
 14  Name                   26700 non-null  object
 15  Country                26700 non-null  object
dtypes: float64(1), int32(3), int64(4), object(8)
memory usage: 3.2+ MB

We can now drop "Diver" column as it became useless.

In [44]:
df.drop("Diver", axis=1, inplace=True)

### Reindexing DataFrame

In [45]:
df.columns

Index(['Gender', 'Discipline', 'AP', 'RP', 'Card', 'Points', 'Remarks',
       'Event Type', 'Month', 'Year', 'Depth_Difference', 'Experience Dive',
       'Experience Discipline', 'Name', 'Country'],
      dtype='object')

In [46]:
df = df.reindex(columns=['Name', 'Country', 'Gender', 'Discipline', 'AP', 'RP', 'Depth_Difference', 'Card', 'Points', 
'Remarks', 'Event Type', 'Month', 'Year', 'Experience Dive', 'Experience Discipline'])

In [47]:
df.head()

,Name,Country,Gender,Discipline,AP,RP,Depth_Difference,Card,Points,Remarks,Event Type,Month,Year,Experience Dive,Experience Discipline
8929,Deborah Andollo,CUB,F,CWT,61,61,0,WHITE,61.0,WHITE,Worldrecord attempt,6,1994,0,0
3716,Umberto Pelizzari,ITA,M,CWT,72,72,0,WHITE,72.0,WHITE,Worldrecord attempt,9,1995,0,0
3713,Deborah Andollo,CUB,F,CWT,62,62,0,WHITE,62.0,WHITE,Worldrecord attempt,10,1996,1,1
5021,Michael Oliva,FRA,M,CWT,72,72,0,WHITE,72.0,WHITE,Worldrecord attempt,10,1996,0,0
3717,Alejandro Ravelo,CUB,M,CWT,73,73,0,WHITE,73.0,WHITE,Worldrecord attempt,8,1997,0,0

### Exporting to csv

In [48]:
# Exporting data to a csv for other notebooks
df.to_csv("../Data/cleaned_df.csv")

## Transforming usefull categorical data to numeric data

In [49]:
# Reading cleaned csv, and droping useless columns for machine learning
df = pd.read_csv("../Data/cleaned_df.csv").drop(["Unnamed: 0", "Name", "Country"], axis=1)
df.head()

,Gender,Discipline,AP,RP,Depth_Difference,Card,Points,Remarks,Event Type,Month,Year,Experience Dive,Experience Discipline
0,F,CWT,61,61,0,WHITE,61.0,WHITE,Worldrecord attempt,6,1994,0,0
1,M,CWT,72,72,0,WHITE,72.0,WHITE,Worldrecord attempt,9,1995,0,0
2,F,CWT,62,62,0,WHITE,62.0,WHITE,Worldrecord attempt,10,1996,1,1
3,M,CWT,72,72,0,WHITE,72.0,WHITE,Worldrecord attempt,10,1996,0,0
4,M,CWT,73,73,0,WHITE,73.0,WHITE,Worldrecord attempt,8,1997,0,0

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26700 entries, 0 to 26699
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Gender                 26700 non-null  object
 1   Discipline             26700 non-null  object
 2   AP                     26700 non-null  int64
 3   RP                     26700 non-null  int64
 4   Depth_Difference       26700 non-null  int64
 5   Card                   26700 non-null  object
 6   Points                 26700 non-null  float64
 7   Remarks                26700 non-null  object
 8   Event Type             26700 non-null  object
 9   Month                  26700 non-null  int64
 10  Year                   26700 non-null  int64
 11  Experience Dive        26700 non-null  int64
 12  Experience Discipline  26700 non-null  int64
dtypes: float64(1), int64(7), object(5)
memory usage: 2.6+ MB

### Transforming

In [51]:
columns_to_transform = ["Gender", "Discipline", "Card", "Remarks", "Event Type"]

In [52]:
# Initializing one hot encoder
one_hot_encoder = OneHotEncoder()

In [53]:
# Initializing tranformer with desired settings
transformer = make_column_transformer(
    (OneHotEncoder(), columns_to_transform),
    remainder='passthrough')

In [54]:
# Transforming DataFrame's data
transformed = transformer.fit_transform(df)
transformed

array([[1.000e+00, 0.000e+00, 0.000e+00, ..., 1.994e+03, 0.000e+00,
        0.000e+00],
       [0.000e+00, 1.000e+00, 0.000e+00, ..., 1.995e+03, 0.000e+00,
        0.000e+00],
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 1.996e+03, 1.000e+00,
        1.000e+00],
       ...,
       [0.000e+00, 1.000e+00, 0.000e+00, ..., 2.023e+03, 1.000e+00,
        0.000e+00],
       [0.000e+00, 1.000e+00, 0.000e+00, ..., 2.023e+03, 1.000e+00,
        0.000e+00],
       [0.000e+00, 1.000e+00, 0.000e+00, ..., 2.023e+03, 2.000e+00,
        0.000e+00]])

### Converting to DataFrame

In [55]:
# Convert data to DataFrame
transformed_df = pd.DataFrame(
    transformed, 
    columns=transformer.get_feature_names_out()
)

In [56]:
# Checking data is complete
transformed_df.isna().sum()

onehotencoder__Gender_F                          0
onehotencoder__Gender_M                          0
onehotencoder__Discipline_CNF                    0
onehotencoder__Discipline_CWT                    0
onehotencoder__Discipline_CWTB                   0
onehotencoder__Discipline_FIM                    0
onehotencoder__Card_RED                          0
onehotencoder__Card_WHITE                        0
onehotencoder__Card_YELLOW                       0
onehotencoder__Remarks_RED                       0
onehotencoder__Remarks_Syncope                   0
onehotencoder__Remarks_WHITE                     0
onehotencoder__Remarks_YELLOW                    0
onehotencoder__Event Type_Competition            0
onehotencoder__Event Type_Depth Competition      0
onehotencoder__Event Type_Mixed Competition      0
onehotencoder__Event Type_Pool Competition       0
onehotencoder__Event Type_Team Competition       0
onehotencoder__Event Type_World Championship     0
onehotencoder__Event Type_Worldrecord attempt    0
remainder__AP                                    0
remainder__RP                                    0
remainder__Depth_Difference                      0
remainder__Points                                0
remainder__Month                                 0
remainder__Year                                  0
remainder__Experience Dive                       0
remainder__Experience Discipline                 0
dtype: int64

In [57]:
transformed_df.head()

,onehotencoder__Gender_F,onehotencoder__Gender_M,onehotencoder__Discipline_CNF,onehotencoder__Discipline_CWT,onehotencoder__Discipline_CWTB,onehotencoder__Discipline_FIM,onehotencoder__Card_RED,onehotencoder__Card_WHITE,onehotencoder__Card_YELLOW,onehotencoder__Remarks_RED,onehotencoder__Remarks_Syncope,onehotencoder__Remarks_WHITE,onehotencoder__Remarks_YELLOW,onehotencoder__Event Type_Competition,onehotencoder__Event Type_Depth Competition,onehotencoder__Event Type_Mixed Competition,onehotencoder__Event Type_Pool Competition,onehotencoder__Event Type_Team Competition,onehotencoder__Event Type_World Championship,onehotencoder__Event Type_Worldrecord attempt,remainder__AP,remainder__RP,remainder__Depth_Difference,remainder__Points,remainder__Month,remainder__Year,remainder__Experience Dive,remainder__Experience Discipline
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,61.0,61.0,0.0,61.0,6.0,1994.0,0.0,0.0
1,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,72.0,72.0,0.0,72.0,9.0,1995.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,62.0,62.0,0.0,62.0,10.0,1996.0,1.0,1.0
3,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,72.0,72.0,0.0,72.0,10.0,1996.0,0.0,0.0
4,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,73.0,73.0,0.0,73.0,8.0,1997.0,0.0,0.0

### Renaming columns in a more friendly way

In [58]:
def renaming_columns(colunm_name):
    if colunm_name[:15] == 'onehotencoder__':
        return colunm_name[15:]
    elif colunm_name[:11] == 'remainder__':
        return colunm_name[11:]
    else:
        return colunm_name

In [59]:
transformed_df.rename(columns=renaming_columns, inplace=True)

In [60]:
transformed_df.columns

Index(['Gender_F', 'Gender_M', 'Discipline_CNF', 'Discipline_CWT',
       'Discipline_CWTB', 'Discipline_FIM', 'Card_RED', 'Card_WHITE',
       'Card_YELLOW', 'Remarks_RED', 'Remarks_Syncope', 'Remarks_WHITE',
       'Remarks_YELLOW', 'Event Type_Competition',
       'Event Type_Depth Competition', 'Event Type_Mixed Competition',
       'Event Type_Pool Competition', 'Event Type_Team Competition',
       'Event Type_World Championship', 'Event Type_Worldrecord attempt', 'AP',
       'RP', 'Depth_Difference', 'Points', 'Month', 'Year', 'Experience Dive',
       'Experience Discipline'],
      dtype='object')

### Exporting to .csv

In [61]:
# Exporting data to a csv for other notebooks
transformed_df.to_csv("../Data/for_ml_df.csv")